
@{
    ViewData["Title"] = "Category List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>
<ul>
    <li><a href="/Categories/Details?category=Food">Food</a></li>
    <li><a href="/Categories/Details?category=Tech">Tech</a></li>
    <li><a href="/Categories/Details?category=Sports">Sports</a></li>
</ul>

